---
### foomuuri configuration

# we use the foomuuri_networks configuration block as the model of our network
# we're defining interfaces, descriptons and zones for the interfaces
# the network and dhcp data isn't technically used by foomuuri, but it makes
# to keep these data in one place and reference it.
# you'll see we reference other values from this datastructure in parameters to other
# roles.. primarily dnsmasq

foomuuri_networks:
  wan:
    interface: wan
    description: wan
    zone: wan
  bond0:
    interface: bond0
    description: test network 0 untagged
    zone: test0z
    address: "192.168.100.1"
    netmask: "255.255.255.0"
    address_summarized: "192.168.100.1/24"
    dhcp:
      start: 192.168.100.100
      end: 192.168.100.150
  test1:
    interface: test1
    description: test network 1
    zone: test1z
    address: "192.168.101.1"
    netmask: "255.255.255.0"
    address_summarized: "192.168.101.1/24"
    dhcp:
      start: 192.168.101.100
      end: 192.168.101.150
  test2:
    interface: test2
    description: test network 1
    zone: test2z
    address: "192.168.102.1"
    netmask: "255.255.255.0"
    address_summarized: "192.168.102.1/24"
    dhcp:
      start: 192.168.102.100
      end: 192.168.102.150
  ospf0:
    interface: ospf0
    description: internal routing interface
    address: "172.17.19.3"
    address_summarized: "172.17.19.3/29"
    zone: gateway
  clammy_podman0:
    interface: clammy_podman0
    description: podman bridge
    zone: podman
    address: "192.168.18.1"
    netmask: "255.255.255.0"
    address_summarized: "192.168.18.1/24"

## basic source and destionation nat configuration for our WAN interface

foomuuri_nat:
  snat:
    - saddr 192.168.100.0/24 oifname wan masquerade
    - saddr 192.168.101.0/24 oifname wan masquerade
  dnat:
    - iifname wan http dnat to 192.168.101.100
    - iifname wan https dnat to 192.168.101.100

foomuuri_config_dbus_zone: test0z
iperf_rule: "tcp 5201"

foomuuri_start_allowed: yes

foomuuri_zone_policy:
  localhost:
    to_zone:
      - any:
          description: my any rules
          rules:
            - ping
            - domain
            - ssh
            - dhcp-client
            - dhcp-server
      - wan:
          description: full internet access
          rules:
            - accept
      - gateway:
          description: must respect ospf
          rules:
            - 'nft "ip protocol 89 accept"'
            - 'nft "ip protocol 2 accept"'
            - broadcast accept
            - multicast accept
      - test1z:
          description: my public rules
          rules:
            - http
            - https
            - reject log
      - test2z:
          description: still learning
          rules:
            - reject log
  test0z:
    to_zone:
      - any:
          description: ping iperf ssh
          rules:
            - ping
            - domain
            - dhcp-server
            - ssh
            - "{{ iperf_rule }}"
            - ntp
  test1z:
    to_zone:
      - any:
          description: ping iperf ssh
          rules:
            - dhcp-server
            - domain
            - ping
            - ssh
            - "{{ iperf_rule }}"
            - ntp
  test2z:
    to_zone:
      - any:
          description: ping iperf ssh
          rules:
            - dhcp-server
            - domain
            - ping
            - ssh
            - ntp
  gateway:
    to_zone:
      - any:
          description: ping iperf ssh
          rules:
            - ping
            - ssh
            - "{{ iperf_rule }}"
            - domain
      - localhost:
          description: must respect ospf
          rules:
            - 'nft "ip protocol 89 accept"'
            - 'nft "ip protocol 2 accept"'
            - broadcast accept
            - multicast accept
  wan:
    to_zone:
      - any:
          description: ping iperf ssh
          rules:
            - ping
            - ssh
  podman:
    to_zone:
      - any:
          description: podman defaults
          rules:
            - domain
            - ping
            - ssh
            - "{{ iperf_rule }}"
            - ntp
      - wan:
          description: podman full access to internet
          rules:
            - accept

foomuuri_templates:
  outgoing_services:
    description: common outgoing services
    rules:
      - dhcp-server
      - domain
      - https
      - ntp
      - ping
      - ssh
  iot_services:
    description: common outgoing services
    rules:
      - mqtt
      - secure-mqtt

### Netplan Configuration
netplan_enabled: true
netplan_apply: false
netplan_packages:
  - netplan.io
  - netplan-generator # wondering if this is a debian sid thing

wan_netplan_config_file: /etc/netplan/wan.yaml
wan_netplan_configuration:
  network:
    ethernets:
      wan:
        dhcp4: yes

lan_netplan_config_file: /etc/netplan/lan.yaml
lan_netplan_configuration:
  network:
    ethernets:
      lan1:
        dhcp4: no
      lan2:
        dhcp4: no
    bonds:
      bond0:
        dhcp4: no
        interfaces:
          - lan1
          - lan2
        parameters:
          mode: 802.3ad
          lacp-rate: fast
          mii-monitor-interval: 100
          transmit-hash-policy: layer3+4
        addresses:
          - "{{ foomuuri_networks.bond0.address_summarized }}"
    vlans:
      test1:
        id: 1001
        link: bond0
        addresses:
          - "{{ foomuuri_networks.test1.address_summarized }}"
      test2:
        id: 1002
        link: bond0
        addresses:
          - "{{ foomuuri_networks.test2.address_summarized }}"
      ospf0:
        id: 100
        link: bond0
        addresses:
          - "{{ foomuuri_networks.ospf0.address_summarized }}"

### chrony ntp configuration

chrony_ntp_pools:
  - 0.us.pool.ntp.org iburst maxpoll 10
  - 1.us.pool.ntp.org iburst maxpoll 10
  - 2.us.pool.ntp.org iburst maxpoll 10
  - 3.us.pool.ntp.org iburst maxpoll 10
chrony_allow:
  - 10.0.0.0/8
  - 192.168.0.0/16
  - 172.16.0.0/12

### unbound configuration

unbound_interfaces:
  - 127.0.0.1
  # - ::1
unbound_port: 8853
unbound_num_threads: 2
unbound_verbosity: 2
unbound_do_ip4: "yes"
unbound_do_ip6: "no"
unbound_do_udp: "yes"
unbound_do_tcp: "yes"
# If you want to filter private addreses from public records
# unbound_private_addresses:
# - 192.168.0.0/16
# - 172.17.20.0/20
# - 10.0.0.0/8
unbound_access_control:
  - 192.168.0.0/16 allow
unbound_root_hints: "{{ unbound_directory }}/root.hints"
unbound_root_hints_url: https://www.internic.net/domain/named.root
unbound_root_hints_force_download: false

unbound_prefetch: "yes"
unbound_prefetch_key: "yes"

unbound_control_enable: "yes"

## dns blocklist functionality
unbound_module_config: "respip validator iterator"
unbound_rpz_zones:
  - name: multi-light.rpz
    url: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/rpz/light.txt
    rpz-log: "yes"
    rpz-log-name: dns_blocklist_multi_light
  - name: tif.rpz
    url: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/rpz/tif.txt
    rpz-log: "yes"
    rpz-log-name: dns_blocklist_tif
  # - name: ultimate.rpz
  #   url: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/rpz/ultimate.txt
  #   rpz-log: 'yes'
  #   rpz-log-name: dns_blocklist_ultimate

### dnsmasq configuration

# I forgot why this setting is here
dnsmasq_resolvconf_nameserver: "127.0.0.1"

# we'll use our local unbound recursive resolver for external
dnsmasq_nameservers:
  - 127.0.0.1#8853
#  - 1.1.1.1

# disable dnsmasq cache sice using unbound for resolver
dnsmasq_cache_size: 0

dnsmasq_config: true
dnsmasq_enable_dhcp: true
dnsmasq_pri_domain_name: clammy-ng.example.com

dnsmasq_dhcp_scopes:
  - interface: "{{ foomuuri_networks.bond0.interface }}"
    netmask: "{{ foomuuri_networks.bond0.netmask }}"
    start: "{{ foomuuri_networks.bond0.dhcp.start }}"
    end: "{{ foomuuri_networks.bond0.dhcp.end }}"
    lease_time: "4h"
  - interface: "{{ foomuuri_networks.test1.interface }}"
    netmask: "{{ foomuuri_networks.test1.netmask }}"
    start: "{{ foomuuri_networks.test1.dhcp.start }}"
    end: "{{ foomuuri_networks.test1.dhcp.end }}"
    lease_time: "4h"
  - interface: "{{ foomuuri_networks.test2.interface }}"
    netmask: "{{ foomuuri_networks.test2.netmask }}"
    start: "{{ foomuuri_networks.test2.dhcp.start }}"
    end: "{{ foomuuri_networks.test2.dhcp.end }}"
    lease_time: "4h"

### frrouting confugration

frr_use_upstream_repo_debian: false
frr_apt_version: frr-stable
frr_apt_repository: "deb https://deb.frrouting.org/frr bookworm {{ frr_apt_version }}"
frr_apt_always_install_latest: true

dynamic_routing: true

frr_router_id: 172.17.19.3
# frr_version: 7.5.1
frr_daemons:
  bfdd: false
  bgpd: false
  isisd: false
  ldpd: false
  nhrpd: false
  ospf6d: false
  ospfd: true
  pimd: false
  ripd: false
  ripngd: false
  zebra: true
frr_ospf:
  redistribute:
    - static
    - kernel
    - connected
  areas:
    0:
      networks:
        - 172.17.19.0/29
        #    2:
        #      networks:
        #        - 10.252.0.0/16
        #        - 10.99.99.12/30
  passive_interfaces:
    - wan
# frr_static:
#  10.252.0.0/16:
#    10.252.2.1
log_adjacency_changes: true
## im pretty sure that this is indented wrong
passive_interfaces: # A list of interfaces to set passive
  - wan
redistribute: # A list of protocols to redistribute
  - bgp
  - connected
  - kernel
  - ospf
  - static
distribute_list:
  - name: 10
    dir: out
    protocol: connected

### dynamic dns configuration

# see role mivek.inadyn
configure_dynamic_dns: false
inadyn_providers:
  - name: freedns
    username: freedns_user1
    password: strongpassword
    index: 1
    hostname: free.example.com

# you may not want this
comforts_use_podman: true
comforts_podman_address_summarized: "{{ foomuuri_networks.clammy_podman0.address_summarized }}"
